body {
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
    width: 105%;
}

.main-content {
    margin: 0 auto;
    margin-left: 80px;
    max-width: 90%;
}

.suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    position: absolute;
    z-index: 1000;
    background: white;
    width: 100%;
}

.suggestions-box {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    z-index: 1000;
    width: 14%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 20px;
    border-bottom: 3px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

.table thead th {
    background-color: #ff8b2c;
    color: #fff;
}

.table tbody tr {
    background-color: #fff;
}

.table tbody tr:hover {
    background-color: peachpuff;
}

.btn-action {
    background-color: #ff8b2c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-action:hover {
    background-color: #ff8b2c;
}

.message {
    padding: 15px;
    background-color: #e9f7e9;
    border: 1px solid #d4edda;
    border-radius: 5px;
    color: #155724;
    margin-bottom: 20px;
}

input[type="number"],
input[type="date"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #ff8b2c;
    outline: none;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

input[type="submit"] {
    background-color: #ff8b2c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ff8b2c;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select:focus {
    border-color: #faa45e;
    box-shadow: 0 0 5px ff8b2c;
}

.page-link {
    display: none;
}

.page-link.active {
    background-color: #ff8b2c;
    color: white;
    border: 1px solid #ff8b2c;
}

#pagination {
    margin-top: 20px;
    text-align: center;
}

#pagination a {
    display: inline-block;
    margin: 0 8px;
    text-decoration: none;
    color: #ff8b2c;
    padding: 8px 12px;
    border: 1px solid #ff8b2c;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#pagination a.active {
    background-color: #ff8b2c;
    color: white;
}

#pagination a:hover {
    background-color: #f0f0f0;
    color: #ff8b2c;
}

#pagination input {
    text-align: center;
    width: 50px;
    padding: 8px;
    color: #ff8b2c;
    border: 1px solid #ff8b2c;
    border-radius: 4px;
    margin: 0 8px;
}

#pagination button {
    background-color: #ff8b2c;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

#pagination button:hover {
    background-color: white;
    color: #ff8b2c;
    border: 1px solid #ff8b2c;
}

#pagination button:disabled {
    background-color: #ddd;
    color: #999;
    cursor: not-allowed;
}

#pagination input[type="number"] {
    border: 1px solid #ff8b2c;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    width: 60px;
}

.custom-form-section {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
textarea {
    width: 14%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

fieldset {
    border: none;
    margin: 15px 0;
    padding: 0;
}

.provider-label {
    margin-bottom: 10px;
}

button {
    width: 10%;
    padding: 10px;
    background-color: #ff8b2c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff8b2c;
}
