body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    transform: translateY(20%);
}

h2 {
    color: #333;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    padding: 8px 16px;
    border: none;
    background-color: #ff8b2c;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.btn-outline-primary {
    background-color: transparent;
    border: 1px solid #e78a25;
    color: #e78a25;
    font-size: 14px;
}

.btn:hover {
    background-color: #e78a25;
}

.btn-outline-primary:hover {
    background-color: #e78a25;
    color: #fff;
}

.row {
    margin-bottom: 20px;
}

#email-error {
    margin-top: 5px;
    display: block;
}

.error-message {
    color: red;
    margin-top: 5px;
}


@media (max-width: 768px) {
    .container {
        margin-left: 7vh;
        max-width: 81%;
        padding: 20px; 
        transform: translateY(10%);
    }

    h2 {
        font-size: 20px;
    }

    .btn, .btn-outline-primary {
        width: 77%;
        font-size: 16px;
        padding: 10px;
    }

    .form-control {
        font-size: 16px; 
        padding: 10px;
    }

    label {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 18px;
    }

    .btn, .btn-outline-primary {
        padding: 12px;
        font-size: 14px;
    }

    .form-control {
        font-size: 14px;
        padding: 8px;
    }

    label {
        font-size: 14px;
    }
}
