#calendar-box {
    display: flex;
    flex-direction: column;
    background-color: #ffffffbe;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 60vh;
    height: 49vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    grid-column: 3 / 4;
}

#calendar-nav {
    flex-shrink: 0;
    background-color: #fd8326;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

#calendar-nav button {
    background: none;
    border: none;
    font-size: 1.8em;
    cursor: pointer;
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
}

#calendar-nav button:hover {
    color: #fff;
    transform: scale(1.2);
}

#calendar-nav #month-year {
    font-size: 1.4em;
    font-weight: bold;
    color: #000;
    margin: 0 10px;
    padding: 5px 0;
    border-radius: 8px;
    text-align: center;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 5px;
    padding: 5px;
    height: calc(100% - 60px);
    box-sizing: border-box;
}

.calendar-header-cell {
    text-align: center;
    padding: 5px;
    background-color: #f4f4f4;
    font-weight: bold;
    font-size: 1em;
}

.calendar-cell {
    text-align: right;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 0.9em;
    height: 60px;
    line-height: 40px;
    cursor: pointer;
}

.calendar-cell:hover {
    background-color: peachpuff;
}

.date.empty {
    background-color: #f0f0f0;
}

.calendar-cell {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ddd;
}

.past-day {
    background-color: lightgrey;
    color: #777;
}

.today {
    background-color: peachpuff;
    color: black;
}

@media (max-width: 768px) {
    #calendar-box {
        width: 100%;
        height: auto;
        margin-left: 0;
        visibility: hidden;
    }

    #calendar {
        grid-template-columns: repeat(4, 1fr);
    }

    #calendar-nav button {
        font-size: 1.5em;
    }

    #calendar-nav #month-year {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    #calendar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    #calendar {
        grid-template-columns: repeat(3, 1fr);
    }

    .calendar-cell {
        height: 50px;
        font-size: 0.8em;
    }
}