.HomeLogo{
    padding: 10px;
}
.HomeLogo .logoo{
    position: fixed;
    top: 0px;
    left: 10px;
    z-index: 1001; 
}
.HomeLogo .logoo img {
    width: 150px;
}
.HomeLogo a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 13px 20px;
    text-decoration: none;
}
@media (max-width: 768px) {
    .HomeLogo .logoo img {
        width: 135px;
        height: 50px;
    }

    .HomeLogo a {
        padding: 10px 15px; 
    }
}