body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
}

.side-container {
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: space-between; 
}

.main-content {
    margin: 0 auto; 
    margin-left: 20px; 
    max-width: 95%; 
    padding: 0 10px; 
}

.widget {
    flex: 1 1 30%; 
    margin: 20px;
    min-width: 250px; 
    max-width: 500px; 
    text-align: center;
    padding: 60px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.widget h2 {
    margin: 0 0 10px; 
}

.widget canvas {
    width: 100%; 
    height: auto;
}

.earnings-select {
    margin-bottom: 10px; 
}

.earnings-select select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; 
}

h2 {
    font-size: 20px; 
    margin: 0 0 10px; 
    color: #ff8b2c; 
}

p {
    font-size: 16px; 
    margin: 0; 
}

canvas {
    margin-top: 10px; 
    width: 90% !important; 
    height: auto; 
}

.separator {
    width: 100%; 
    padding: 20px; 
    background-color: #f7f7f7; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.reports {
    display: flex;
    justify-content: center; 
    width: 100%; 
}

.chart {
    width: 100% !important; 
    max-width: 80%; 
    height: 450px !important; 
    margin: auto; 
    display: block; 
}

.reports p,
.side-container p {
    font-weight: bold; 
}

.report-selector {
    margin-bottom: 20px; 
    max-width: 300px; 
    width: 100%; 
}

.report-selector select,
#timePeriodSelect {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#timePeriod {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.report-section {
    box-sizing: border-box; 
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    width: 100%; 
    max-width: none; 
    height: auto; 
}

.report-section h2 {
    margin-bottom: 10px; 
    color: #333; 
}

.report-section p {
    font-size: 18px; 
    color: #555;
}

.report-wrapper {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
}

@media (max-width: 768px) {
    .side-container {
        flex-direction: column; 
    }

    .separator {
        padding: 20px; 
    }

    .report-selector {
        max-width: 100%; 
    }

    .report-section {
        padding: 20px; 
    }
}