body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 10px;
        margin-right: 10px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .balance-section {
        flex-direction: column;
        gap: 10px;
    }

    .payment-schedule input {
        width: 100%;
    }

    #refresh-button {
        width: 100%;
        margin-top: 10px;
    }

    table {
        font-size: 14px;
    }
    
    th, td {
        padding: 8px;
    }
}

.page-link {
    display: none;
}

.page-link.active {
    background-color: #ff8b2c;
    color: white;
    border: 1px solid #ff8b2c;
}

#pagination {
    margin-top: 20px;
    text-align: center;
}

#pagination a {
    display: inline-block;
    margin: 0 8px;
    text-decoration: none;
    color: #ff8b2c;
    padding: 8px 12px;
    border: 1px solid #ff8b2c;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#pagination a.active {
    background-color: #ff8b2c;
    color: white;
}

#pagination a:hover {
    background-color: #f0f0f0;
    color: #ff8b2c;
}

#pagination input {
    text-align: center;
    width: 50px;
    padding: 8px;
    color: #ff8b2c;
    border: 1px solid #ff8b2c;
    border-radius: 4px;
    margin: 0 8px;
}

#pagination button {
    background-color: #ff8b2c;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

#pagination button:hover {
    background-color: white;
    color: #ff8b2c;
    border: 1px solid #ff8b2c;
}

#pagination button:disabled {
    background-color: #ddd;
    color: #999;
    cursor: not-allowed;
}

#pagination input[type="number"] {
    border: 1px solid #ff8b2c;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    width: 60px;
}

.search-form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 250px;
    margin-right: 10px;
}

.search-form button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #ff8b2c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #f87000;
}

.recent-payments {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

.recent-payments h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.payment-details span {
    font-weight: bold;
    color: #333;
    display: block;
}

.delete-button-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #ff0000;
}

@media (max-width: 768px) {
    .recent-payments {
        padding: 10px;
        margin-top: 11vh;
        margin-left: 4vh;
    }

    .payment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        padding: 15px 0;
    }
    
    .payment img {
        width: 120px;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        margin-right: 30px;
    }
    
    .payment-details {
        text-align: center;
        padding: 0;
    }

    .delete-button-container {
        margin-left: 0;
        margin-top: 10px;
    }
}